
<%- include('include/_header.ejs') %> 
<main id="site-main">
    <div class="container">
    <div class="box-nav d-flex-justify-between">
    <a href="/add-user" class="border-shadow">
    <span class="text-gardient">New User<i class="fa-solid fa-user"></i>
    </span> 
    </a>    
    </div>
<!--form handling-->
    <form action="/" method="POST">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
             <%- include('include/_show.ejs')%>
            </tbody>
        </table>  
    </form>
    
    </div>


</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/assets/js/index.js"></script>
</body>
</html>
